<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>AS Finance calendar</title>
    <meta
      name="description"
      content="Generates Google Calendar links for events from the AS Finance calendar"
    />

    <style>
      @media (prefers-color-scheme: dark) {
        :root {
          color-scheme: dark;
        }
      }

      body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
          'Segoe UI Emoji', 'Segoe UI Symbol';
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
      }

      table {
        border-collapse: collapse;
      }
      th {
        text-align: left;
      }
      th,
      td {
        border: 1px solid currentColor;
        padding: 5px 10px;
      }
    </style>
  </head>
  <body>
    <form method="get">
      <fieldset>
        <legend>Set date</legend>
        <p>
          <label>
            Show events for date:
            <input name="date" type="date" value="<%= date %>" />
          </label>
        </p>
        <p>
          <label>
            Term ID:
            <input
              name="term"
              type="text"
              inputmode="numeric"
              pattern="[0-9]+"
              value="<%= term %>"
            />
            (1031 is FA24 and it increments fall winter spring)
          </label>
        </p>
        <button type="submit">Show events</button>
      </fieldset>
    </form>
    <h1>Events for <%= date %></h1>
    <table>
      <tr>
        <th>Org</th>
        <th>Event</th>
        <th>Calendar link</th>
      </tr>
      <% for (const event of events) { %>
      <tr>
        <td>
          <a
            target="_blank"
            href="https://google.com/search?q=<%= encodeURIComponent(`ucsd ${event.organization}`) %>"
            ><%= event.organization %></a
          >
        </td>
        <td><%= event.name %></td>
        <td><a target="_blank" href="<%= event.link %>">Add to calendar</a></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
