<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#<%= colour %></title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="Preview what the colour #<%= colour %> looks like."
    />
    <meta name="theme-color" content="#<%= colour %>" />
    <meta name="title" content="#<%= colour %>" />

    <meta property="og:title" content="#<%= colour %>" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="<%= host %>/colour/<%= colour %>/preview.png"
    />
    <meta
      property="og:description"
      content="Preview what the colour #<%= colour %> looks like."
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="#<%= colour %>" />
    <meta
      name="twitter:description"
      content="Preview what the colour #<%= colour %> looks like."
    />
    <meta
      name="twitter:image"
      content="<%= host %>/colour/<%= colour %>/preview.png"
    />

    <style>
      html,
      body {
        height: 100%;
      }
      body {
        background-color: #<%= colour %>;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
          'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 4rem;

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        color: white;
        text-shadow: 0 0 10px black;
      }
    </style>
  </head>
  <body>
    <p>#<%= colour %></p>
  </body>
</html>
